<section class="home-section">
  <div class="row">
    <div class="col-md-6">
      <img
        src="../../../assets/images/background-image.jpg"
        alt=""
        class="back-image"
      />
    </div>

    <div class="col-md-6">
      <div class="container">
        <img
          src="../../../assets/images/Group 5.png"
          alt=""
          class="site-logo"
        />

        <button
          mat-raised-button
          color="primary"
          class="submit-button mt-5"
          routerLink="/auth/login"
        >
          Page de connexion
        </button>
      </div>
    </div>
  </div>
</section>
