<div class="user">
  <div class="user__initial">
    <span class="user__initial-letter"> {{ userData?.slug }} </span>
  </div>
  <div class="user__name">
    <span class="fw-bold"> {{ userData?.name?.split(' ')?.[0] }} </span>
    {{ userData?.name?.split(' ')?.[1] }}
  </div>
  <div class="user__email">Email: {{ userData?.email }}</div>
  <div class="user__edit-btn">
    <p class="user__edit-btn-text" href="#">Editer le profil</p>
    <mat-icon class="user__edit-btn-icon">create</mat-icon>
  </div>
</div>
