.container-fluid {
  border-right-color: #0079ff;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__initial {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #0079ff;
    opacity: 0.2;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-letter {
      font-size: 10rem;
      color: #fff;
    }
  }

  &__name {
    font-size: 2rem;
    margin-top: 1rem;
  }

  &__email {
    // margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  &__edit-btn {
    width: 12rem;
    height: 2.8rem;
    background: rgba(255, 0, 96, 0.1);
    border-radius: 2rem;
    border: none;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1rem;
      color: #ff0060;
      margin-right: 2rem;
      margin-top: 1.2rem;
    }

    &-icon {
      font-size: 1.8rem;
      // margin-left: 1rem;
      margin-top: 0.4rem;
      color: #ff0060;
      position: absolute;
      right: 6px;
    }
  }
}
