.edit-form {
  padding: 3rem;
}

h4 {
  font-family: inherit;
  font-weight: bold;
}

.field {
  width: 100%;
  font-size: 1.5rem;
}

hr {
  margin: 2rem -3.5rem 1rem;
}

.mdc-notched-outline.ng-tns-c3899553609-12.mdc-notched-outline--upgraded.ng-star-inserted {
  height: 45px !important;
}
