.list {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;
  cursor: pointer;

  position: relative;

  &__add {
    margin-top: 1rem;
    display: inline-block;
    padding-left: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__block {
    margin-top: 1rem;
    color: #ff0060;

    &:hover {
      text-decoration: underline;
    }
  }
}

mat-icon {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
}
