<p>
  <mat-toolbar class="content">
    <mat-form-field appearance="outline" class="mat-select-content">
      <mat-label>Type de compte</mat-label>
      <mat-select (selectionChange)="updateSelectedAccount($event.value)">
        <mat-option *ngFor="let account of accounts" [value]="account">
          {{ account.accountType | accountType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="account__number">
      <p class="p-title">Numéro de compte</p>
      <p class="p-content">
        {{ selectedAccount?.iban }}
      </p>
    </div>

    <div class="account__amount">
      <p class="p-title">Solde disponible</p>
      <div class="p-content" *ngIf="showBalance">
        {{ selectedAccount?.balance }} {{ selectedAccount?.currency }}
      </div>
      <p class="p-content" *ngIf="!showBalance">..........</p>
    </div>

    <mat-icon matSuffix (click)="toggleBalanceVisibility()">
      {{ showBalance ? "visibility_off" : "visibility" }}
    </mat-icon>
  </mat-toolbar>
</p>

<div class="container-fluid w-100">
  <div class="debit">
    <div>
      <form
        novalidate
        class="form-container"
        [formGroup]="transactionForm"
        (ngSubmit)="onSubmit()"
      >
        <h3 class="title">Transfert d'argent</h3>
        <div class="row">
          <!-- <mat-form-field appearance="outline">
            <mat-label>Nom du bénéficiaire</mat-label>
            <input matInput placeholder="Nom du bénéficiaire" />
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>Numéro de compte</mat-label>
            <input
              matInput
              placeholder="Numéro de compte"
              formControlName="accountNumber"
            />
            <mat-error *ngIf="hasControlError('accountNumber', 'required')"
              >Le numéro de compte est requis</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Montant</mat-label>
            <input
              matInput
              placeholder="Montant"
              type="number"
              formControlName="amount"
            />
            <mat-error *ngIf="hasControlError('amount', 'amountError')"
              >Le montant doit être compris entre 500 et 100000</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Motif</mat-label>
            <textarea matInput formControlName="reason"></textarea>
            <mat-error *ngIf="hasControlError('reason', 'required')"
              >Veuillez mettre le motif</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <div class="recap">
            <h3 class="title">Récapitulatif de la transaction</h3>
            <div class="reacp__amount">
              Montant à transférer:
              <span class="span fw-bold">
                {{ transactionForm.value.amount }} XOF
              </span>
            </div>
            <!-- <div class="recap__receiver">
              Bénéficiaire: <span class="span fw-bold">SORO Jr</span>
            </div> -->
            <div class="recap__motif">
              Motif:
              <span class="span">
                {{ transactionForm.value.reason }}
              </span>
            </div>
            <div class="recap__sold">
              Nouveau solde:
              <span class="span fw-bold"
                >{{
                  (selectedAccount?.balance || 0) -
                    (transactionForm.value?.amount || 0)
                }}
                XOF</span
              >
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="submit-button"
            [type]=""
            [disabled]="transactionForm.invalid"
          >
            Envoyer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
