<div class="container">
  <div class="dialog">
    <div class="dialog__logo">
      <img src="../../../assets/images/Group 5.png" alt="" class="logo" />
    </div>
    <div class="dialog__icon">
      <mat-icon style="font-size: 80px" class="text-center"
        >highlight_off</mat-icon
      >
    </div>
    <div class="dialog__msg">Désolé votre transaction a échoué</div>

    <div class="dialog__button">
      <button mat-stroked-button routerLink="/dashboard/list" class="buton">
        Quitter
      </button>
    </div>
  </div>
</div>
