<mat-drawer-container class="dash-container">
  <mat-drawer class="left-side" mode="side" opened>
    <div class="user">
      <div class="user__initial">
        <span class="user__initial-letter">SM</span>
      </div>
      <div class="user__name"><span class="fw-bold">SORO</span> Moise</div>
      <div class="user__email">Email: soromoise@gmail.com</div>
      <div class="user__edit-btn">
        <span class="user__edit-btn-text"> Editer le profil </span>
        <mat-icon class="user__edit-btn-icon">create</mat-icon>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <p>
      <mat-toolbar class="content__toolbar">
        <span class="content__toolbar-title">Mes transactions</span>
        <mat-form-field appearance="outline" class="content__select--1 me-3">
          <mat-label class="select-name">Type de compte</mat-label>
          <mat-select>
            <mat-option> </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="content__select--2 me-3">
          <mat-label class="select-name">Statut</mat-label>
          <mat-select>
            <mat-option> </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="content__select--3 me-3">
          <mat-label class="select-name">Calendrier</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-toolbar>
    </p>

    <app-transations-list></app-transations-list>
  </mat-drawer-content>
</mat-drawer-container>
