<div class="row p-0 m-0">
  <div class="col-md-4 col-lg-4 p-0">
    <div class="left-side vh-100">
      <app-user-info [userData]="userInfo$ | async"></app-user-info>
      <div class="container-fluid">
        <div class="account">
          <p class="account__title">Mes comptes</p>
          <app-account
            [accountData$]="mainAccount$"
            (subAccountCreated)="handleSubAccountCreated($event)"
          ></app-account>
          <app-account
            class="mt-3"
            *ngFor="let account of subAccountsToShow"
            [subAccountData]="account"
          >
          </app-account>
        </div>
      </div>
      <button class="logout-btn" (click)="logout()">
        <p class="logout-btn-text">Se déconnecter</p>
      </button>
    </div>
  </div>

  <div class="col-md-8 col-lg-8 p-0">
    <router-outlet></router-outlet>
  </div>
</div>
