.dash-container {
  width: 100%;
  height: 100vh;
  //   margin: 10px;
  border: 1px solid #555;
}

.left-side {
  width: 26vw;
  border-right-color: #040404;
}

.content {
  background-color: #fff;

  &__toolbar {
    height: 11rem;
  }

  &__select {
    background-color: #040404;
    &--1 {
      width: 182px;
    }
    &--2 {
      width: 110px;
    }

    &--3 {
      width: 160px;
    }
  }
}
