.left-side {
  border-right: 1px solid #0079ff;
}

.container-fluid {
  padding: 2rem;
  width: 95%;
}
.account {
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
