<section class="home-section">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/images/background-image.jpg" alt="" class="back-image">
        </div>

        <div class="col-md-6">
            <div class="container">
                <img src="../../../assets/images/Group 5.png" alt="" class="site-logo">
                <form novalidate class="form-container" [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
                    <h3 class="form-title">Récupération de compte</h3>
                    <div class="row ">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">

                            <!-- <mat-error *ngIf="isControlInvalidAndUntouched('email', 'required')">L'email est
                                requis</mat-error>
                            <mat-error *ngIf="isControlInvalidAndUntouched('email', 'email')">L'email n'est pas
                                valide</mat-error> -->
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="mt-5" [disabled]="forgotPassForm.invalid">Je
                            valide</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>