tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row.ng-star-inserted {
  background-color: #e6e6e6;
}

.status-rejected {
  background-color: #ff0060;
}

.status-in-process {
  background-color: #f6fa70;
}

.status-approved {
  background-color: #00dfa2;
}
