<p>
  <mat-toolbar class="content">
    <span class="content__name">Mes transactions</span>

    <mat-form-field appearance="outline" class="mat-select-content--1">
      <mat-label>Type de compte</mat-label>
      <mat-select>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mat-select-content--2">
      <mat-label>Statut</mat-label>
      <mat-select>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mat-select-content--3">
      <mat-label>Calendrier</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-select-content--4">
      <mat-label>Rechercher par bénficiaire ou par montant</mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-flat-button [matMenuTriggerFor]="menu" class="transac-btn">
      Sélectionner une action
      <mat-icon matIconSuffix style="order: 1" class="ms-3"
        >expand_more</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
      <button mat-menu-item routerLink="/dashboard/transfert">
        Transférer
      </button>
      <button mat-menu-item routerLink="/dashboard/debit">Débiter</button>
    </mat-menu>
  </mat-toolbar>
</p>
