.account {
  background-color: #0079ff;
  color: #fff;
  height: 5.8rem;
  border-radius: 0.3rem;
  padding: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__infos {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__type {
    font-size: 1.3rem;
  }

  &__number {
    margin-top: 6px;
    margin-right: 1rem;
  }

  &__ammount {
    width: 10rem;
    margin-top: 6px;
    margin-right: -5px;
  }
}

.p-title {
  font-size: 1.1rem;
  margin-bottom: -5px;
}

.p-content {
  font-weight: bold;
}

mat-icon {
  margin-right: 1.3rem;
}

.click-btn {
  transform: rotate(90deg);
}

.menu {
  font-size: 1rem !important;
  position: relative;

  &__icon {
    right: 0;
  }
}
