.account {
  background-color: #0079ff;
  color: #fff;
  height: 5.8rem;
  border-radius: 0.3rem;
  padding: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__type {
    font-size: 1.4rem;
  }

  &__number {
    margin-top: 6px;
    margin-right: 1rem;
    flex: 0 0 1;
  }

  &__ammount {
    text-align: center;
    height: 5rem;
    margin-top: 10px;
    margin-right: -5px;
  }
}

.p-title {
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.p-content {
  font-weight: bold;
}

.show {
  margin-left: 1rem !important;
  margin-top: 0.6rem;
}

.click-btn {
  transform: rotate(90deg);
}

.menu {
  font-size: 1rem !important;
  position: relative;

  &__icon {
    right: 5px;
  }
}

.lock {
  width: 25px;
  margin-right: -7px;
}

mat-icon {
  font-size: 2rem !important;
}
