<section class="home-section">
  <div class="row">
    <div class="col-md-6">
      <img
        src="../../../assets/images/background-image.jpg"
        alt=""
        class="back-image"
      />
    </div>

    <div class="col-md-6">
      <div class="container">
        <img
          src="../../../assets/images/Group 5.png"
          alt=""
          class="site-logo"
        />
        <form
          novalidate
          class="form-container"
          [formGroup]="resetPassForm"
          (ngSubmit)="onSubmit()"
        >
          <h3 class="form-title">Récupération de compte</h3>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Nouveau mot de passe</mat-label>
              <input
                matInput
                placeholder="Nouveau mot de passe"
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
              />
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{ hidePassword ? "visibility_off" : "visibility" }}
              </mat-icon>
              <mat-error *ngIf="hasError('password', 'required')"
                >Le mot de passe est requis</mat-error
              >
              <mat-error *ngIf="hasError('password', 'pattern')"
                >Le mot de passe doit avoir au moins 8 caractères</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirmer le mot de passe</mat-label>
              <input
                matInput
                placeholder="Confirmez le mot de passe"
                formControlName="confirmPassword"
                [type]="hidePassword ? 'password' : 'text'"
              />
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{ hidePassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>
            <mat-error *ngIf="isMisMatchPassword"
              >Le mot de passe ne correspond pas</mat-error
            >

            <button
              mat-raised-button
              color="primary"
              class="submit-button mt-5"
              [disabled]="resetPassForm.invalid"
            >
              Je valide
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
