/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/theming";

@import "ngx-toastr/toastr";

// Définir les palettes de couleurs pour le thème
// $primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink, A200, A100, A400);
// $theme: mat-light-theme($primary, $accent);

// // Appliquer le thème à toute l'application
// @include angular-material-theme($theme);

//// GLOBAL STYLES /////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}
