.content {
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5 !important;
  font-size: 0.5rem;
  padding: 3rem;

  &__name {
    font-weight: 550;
    font-size: 1.8rem;
  }
}

::ng-deep .mat-select-content {
  &--1 {
    width: 14rem !important;
    margin-top: 2rem;
  }

  &--2 {
    width: 9.2rem;
    margin-top: 2rem;
  }

  &--3 {
    width: 11rem;
    margin-top: 2rem;
  }

  &--4 {
    margin-top: 2rem;
  }

  &--5 {
    width: 16rem !important;
    margin-top: 2rem;
  }
}

::ng-deep mat-label {
  font-size: 1rem;
  padding: 0px;
}

mat-form-field {
  padding: 0 !important;
}

mat-form-label {
  padding: 0 !important;
}
