.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > *:not(:first-child) {
    margin-top: 2rem;
  }

  &__icon {
    color: #00dfa2;
    font-size: 20px;
  }

  &__msg {
    font-size: 2.2rem;
    color: #00dfa2;
  }
}

.logo {
  width: 25rem;
}

mat-icon {
  width: 73px;
  height: 74px;
}

.buton {
  width: 18rem;
  height: 4rem;
}
