<div class="container">
  <div class="dialog">
    <div class="dialog__logo">
      <img src="../../../assets/images/Group 5.png" alt="" class="logo" />
    </div>
    <div class="dialog__icon">
      <mat-icon style="font-size: 80px" class="text-center"
        >check-circle</mat-icon
      >
    </div>
    <div class="dialog__msg">
      Félicitations votre transaction a bien été enregistré
    </div>

    <div class="dialog__button">
      <button
        mat-stroked-button
        routerLink="/dashboard/list"
        (click)="closeDialog()"
      >
        Quitter
      </button>
    </div>
  </div>
</div>
